body{
    font-family: 'Montserrat', sans-serif!important;
    margin: 0;
    padding: 0;
    background-color: #F5FAFB!important;
}

h2{
    color: #5D69FF!important;
    font-weight: 600!important;
}

.first-section{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 175px 120px 0px;
}


.first-section h1{
    color: #5D69FF;
    font-size: 45px;
    font-weight: 600;
}

.first-section span{
    color: #000;
  text-decoration: underline;
}

.four-section{
    background: linear-gradient(to right, #667db6, #5D69FF, #5D69FF, #0072FF);
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    background-color: white;
    border-bottom: solid 0.5px #EEEEEE;
}

.img-fluid-custom{
    max-width: 100%;
    height: 80px;
    margin-left: 30px;
}

.row{
    margin-right: 0!important;
    margin-left: 0!important;
}


li{
    list-style: none;
}

li a{
    color: black!important;
    margin-right: 15px;
    font-weight: 500!important;
}

.button{
    text-decoration: none;
    margin-right: 15px;
    background-color: #3372e3;
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 30px;
    font-weight: 600;
}

.button-secondaire{
    text-decoration: none;
    margin-right: 15px;
    background-color: #0073ff00;
    color: #0072FF;
    border: solid #0072FF 2px;
    padding: 8px 15px;
    border-radius: 30px;
    font-weight: 600;
}

#point{
    color: black;
    text-decoration: underline;
}

.video{
    width: 40%;
    border-radius: 15px;
}

.nav-link-custom{
    margin-right: 5px;
}
.navbar-nav-custom{
    display: flex!important;
    flex-direction: row!important;
    justify-content: center;
}
.navbar-toggler{
    border: none!important;
}
.navbar-toggler:focus{
outline: none!important;
box-shadow: none!important;
}


.bi-list::before{
    content: "\f479";
    background: linear-gradient(45deg, #00C3CC, #3372E3, #7426EF);
    padding: 8px;
    border-radius: 20px;
    color: white;
}
.bi-linkedin::before{
    font-size: 20px;
}
.bi-instagram::before{
    font-size: 20px;
}

.padding{
    padding-left: 101px!important;
}